:root {
  --path-length: 50;
}

.murraybg {
  fill: none;
  stroke: black;
  opacity: 0.05;
  stroke-width: 0.5;
  stroke-dasharray: var(--path-length);
  stroke-dashoffset: var(--path-length);

  animation: a 30s linear infinite;

}

@keyframes a {
  0% {
    stroke-dashoffset: var(--path-length);
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--path-length);
  }
}
